METHOD=resnet50_mmd
RUN_NAME=resnet50_mmd
EPOCHS=66
START_EPOCH=16
BATCH_SIZE=256
LEARNING_RATE=1e-4
WORKERS=4
SEED=42
CHECKPOINT_INTERVAL=5
DEVICE=cuda:0

MMD_LAMBDA_START=0.5
MMD_LAMBDA_END=0.8
MMD_START_EPOCH=0
MMD_RAMP_EPOCHS=3