METHOD=resnet50_mmd
RUN_NAME=resnet50_mmd
EPOCHS=100
START_EPOCH=0
BATCH_SIZE=256
LEARNING_RATE=1e-4
WORKERS=6
SEED=42
CHECKPOINT_INTERVAL=5
DEVICE=cuda:0

IMAGENET_WEIGHTS=false

MMD_LAMBDA_START=0.5
MMD_LAMBDA_END=1.0
MMD_START_EPOCH=0
MMD_RAMP_EPOCHS=3

CORAL_LAMBDA_START=0.5
CORAL_LAMBDA_END=1.0
CORAL_START_EPOCH=0
CORAL_RAMP_EPOCHS=3